:host {
  background: url('../../../../assets/images/login_banner.jpg') no-repeat center center fixed;
  display: block;
  height: 100%;
  width: 100%;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-header, .form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-side {

}