<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <mat-stepper #stepper>
      <mat-step [stepControl]="registerForm.controls.systemDataForm">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="email" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step [stepControl]="registerForm.controls.systemDataForm" label="Fill out your address">
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper> 





    <mat-form-field class="first-name" appearance="fill">
      <mat-label>Your first name</mat-label>
      <input matInput formControlName="firstName" placeholder="First name">
    </mat-form-field>
    <mat-form-field class="last-name" appearance="fill">
      <mat-label>Your last name</mat-label>
      <input matInput formControlName="lastName" placeholder="Last name">
    </mat-form-field>
    <div>
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden formControlName="icon" #fileInput type="file" id="file">
    </div>
    <mat-form-field class="nick-name" appearance="fill">
      <mat-label>Your nick name</mat-label>
      <input matInput formControlName="nickName" placeholder="example123">
    </mat-form-field>
    <mat-form-field class="email" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="example@mail.com" type="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
    </mat-form-field>

    <button mat mat-raised-button class="submit" type="submit">Create user</button>
  </div>
</form>